/****** Hebergements ***********/
.hebergements {
	display: flex;
	flex-direction: column;
	gap: 30px;

	width: 65%;
}

.hebergements-list {
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr; */

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	gap: 30px;
}

.hebergements .show-more {
	font-size: 18px;
	font-weight: 700;
}

/****** Responsive ******/
@media (max-width: 1024px) {
	.hebergements {
		width: 100%;
	}
}
