.info-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 35px;
}

.info-group__headline {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/****** Search bar ******/
.search-bar {
	position: relative;

	display: flex;
	flex-direction: row;
}

.search-bar-input {
	height: 50px;
	padding: 0 10px;
	border-top: solid 1px var(--main-bg-color);
	border-bottom: solid 1px var(--main-bg-color);

	font-weight: 700;
}

/****** Submit button ******/
.search-bar .submit-button {
	border-radius: 0 15px 15px 0;
	background: var(--main-color);
	padding: 0 16px;
}

.search-bar .submit-button-caption {
	color: white;
	font-weight: 700;
}

/****** Search bar icons ******/
.search-bar .location-dot-container {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 15px 0 0 15px;
	background: var(--main-bg-color);

	padding: 0 18px;
}

.search-bar .fa-location-dot {
	color: #000000;
}

.search-bar .fa-magnifying-glass {
	color: #ffffff;
	display: none;
}

/****** Filters ******/
.filter-bar {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.filter-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;

	width: 100%;
}

.filter-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;

	width: fit-content;
	border-radius: 30px;
	padding: 15px 19px;
	border: solid 2px var(--strokes);

	font-weight: 700;
	user-select: none;
}

.filter-item:hover {
	cursor: pointer;
	background: var(--filter-bg-color);
}

/****** Info bar ******/
.info-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.info-bar .icon-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	aspect-ratio: 1;

	border: solid 1px var(--strokes);
	border-radius: 20px;
}

.info-bar .icon-container .icon {
	font-size: 10px;
}

/****** Responsive ******/
@media screen and (max-width: 767.98px) {
	.info-group {
		padding: 0 20px;
	}

	.search-bar .submit-button {
		position: absolute;
		top: 0;
		right: -35px;

		border-radius: 15px;
		width: 50px;
		aspect-ratio: 1;

		filter: drop-shadow(0px 4px 2px #a7a6a6);
	}

	.search-bar .fa-magnifying-glass {
		display: block;
	}

	.search-bar .submit-button-caption {
		display: none;
	}
}
