/****** General ***********/
* {
	font-family: 'Raleway', sans-serif;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
	--strokes: #d9d9d9;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 35px;

	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
	.main-container {
		width: 100%;
		max-width: 1440px;
		padding: 0px;
	}

	.hebergements-and-populaires {
		flex-direction: column-reverse;
	}

	.hebergements-and-populaires section {
		border-radius: 0;
	}

	.hebergements-and-populaires section.hebergements {
		background-color: white;
	}
}
